$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
$breakpoint-large: 1400px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

header {
    text-align: center;
}

main {
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 0 5px;

    section {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        cursor: default;

        .repoName:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &:hover {
            background-color: darken($color: white, $amount: 15);
        }

        .gitStar, .gitFork {
            display: block;
            float: right;
            cursor: pointer;
            margin-right: 5px;

            &:hover sub {
                text-decoration: underline;
            }
        }
    }
}

@media only screen and (min-width: $breakpoint-small) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: $breakpoint-medium) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: $breakpoint-large) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}

// a {
//     text-decoration: none;
//     color: black;
//     display: block;
//     width: 100%;
//     height: 100%;
//     &:hover {
//         text-decoration: underline;
//     }
// }